<% title(@project.name, "Projects") %>

<%= link_to "Edit Project", edit_project_path(@project) %>
<%= 
	link_to "Delete Project", 
	project_path(@project), 
	method: :delete, 
	data: {
		confirm: "Are you sure want to delete this project?"
	} 
%>

<h1><%= @project.name %></h1>
<p><%= @project.description %></p>